/* Font face*/
@font-face {
    font-family: "mikado-bold";
    src: url("../fonts/MikadoBold.otf");
}

@font-face {
    font-family: "mikado-regular";
    src: url("../fonts/MikadoRegular.otf");
}

@font-face {
    font-family: "mikado-medium";
    src: url("../fonts/MikadoMedium.otf");
}

noscript {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
}

noscript .btn-group {
    display: flex;
    flex-direction: row;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.bottom {
    position: fixed;
    top: 84%;
    left: 0;
    width: 100%;
    height: 16%;
    color: white;
}

/* Landing Page */
.landing-page {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../images/landing_bg.png');
    background-size: cover;
    padding-top: 3vh;
    z-index: 1;
}

.landing-page .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-page .toy_logo {
    height: 25%;
    padding-top: 3vh;
}

.landing-page .toy_logo img{
    position:absolute;
    height: inherit;
    transform: translate(-50%)
}

.landing-page .title {
    width:80%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 5vh;
    font-weight: bold;
    color: #2D9CDB;
    font-family: 'mikado-medium', Arial, sans-serif;
}

.landing-page .top-desc {
    width:90%;
    margin-bottom: 1vh;
    font-size: 3vh;
    color: #929292;
    font-family: 'mikado-medium', Arial, sans-serif;
}

.landing-page .applaydu-desc {
    width:70%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 3vh; 
    font-family: 'mikado-medium', Arial, sans-serif;
    padding-top: 6vh;
}

.landing-page #countdown-text {
    width:90%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2.5vh; 
    font-family: 'mikado-medium', Arial, sans-serif;
    padding-top: 2vh;
    color: #666666;
}

.landing-page .bottom {
    position: fixed;
    top: 84%;
    left: 0;
    width: 100%;
    height: 16%;
    color: white;
}

/* Legal disclaimer */
.legal-disclaimer {
    display: block;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    font-family: 'mikado-medium', Arial, sans-serif;
    font-style: normal;
    font-size: 2vh;
    color: #666666;
    width:100%;
    line-height: 3vh;
    background-image: url('../images/landing_bg.png');
}

.full-screen {
    height: 100%;
}

.flash-info {
    height: auto;
}

.legal-disclaimer .container {
    padding: 5vw;
}

.legal-disclaimer #legal-exit-btn {
    display: block;
    position: relative;
    margin-right: 0px;
    margin-left: auto;
}

.legal-disclaimer .logo {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.legal-disclaimer .title {
    text-align: center;
    font-size: 4vh;
    color: #333333;
    font-family: 'mikado-bold', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.legal-disclaimer .emphasize {
    background: #EAEAEA;
    border-radius: 6px;
    padding: 8px;
    font-family: 'mikado-regular', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.legal-disclaimer #legal-detail-btn {
    text-decoration-line: underline;
    color: #3FA2F7;
}

.legal-disclaimer #legal-disagree-btn, #legal-agree-btn {
    color: #2D9CDB;
    padding-right: 20px
}

.legal-disclaimer .group-btn {
    display: flex;
    justify-content: flex-end;
}

.legal-disclaimer #legal-policy {
    position: fixed;
    color: #929292;
    text-align: right; 
    bottom: 15px; 
    width: 100%;
    right: 10px;
    font-family: 'mikado-regular', Arial, sans-serif;
}

/* Landscape popup */
.background-fullscreen {
    width: 100%; 
    height:100%; 
    top: 0px; 
    left: 0px; 
    position:fixed;
}

.popup-fullscreen-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'mikado-regular', Arial, sans-serif;
    font-size: 2vw;
}

/* Countdown */
.countdown {
    position: fixed;
    bottom: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
}

.countdown #number-text {
    text-align:center;
    position: absolute;
    line-height: 50%;
    width: 100%;
    font-size: 18px;
}

.countdown .background {
    position: absolute;
    background: black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.countdown svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
}

.countdown svg circle {
    stroke-dasharray: 100px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: white;
    fill: none;
    transition: 1s linear;
}